@font-face {
  font-family: 'iconfont';  /* project id 2013340 */
  src: url('https://at.alicdn.com/t/font_2013340_zgdfop4rp6.eot');
  src: url('https://at.alicdn.com/t/font_2013340_zgdfop4rp6.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2013340_zgdfop4rp6.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2013340_zgdfop4rp6.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2013340_zgdfop4rp6.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2013340_zgdfop4rp6.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 40rpx;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 14rpx;
}

.icon-back:before {
	content: "\e62b";
}

.icon-box :before {
	content: "\e6c6";
}

.icon-select :before {
	content: "\e763";
}
.icon-help:before{
	content: "\e677";
}