@font-face {
  font-family: 'iconfont';  /* project id 2013340 */
  src: url('//at.alicdn.com/t/font_2013340_nnf1u6uhyns.eot');
  src: url('//at.alicdn.com/t/font_2013340_nnf1u6uhyns.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2013340_nnf1u6uhyns.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2013340_nnf1u6uhyns.woff') format('woff'),
  url('//at.alicdn.com/t/font_2013340_nnf1u6uhyns.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2013340_nnf1u6uhyns.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 40rpx;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 14rpx;
}
.icon-back:before{
	content: "\e62b";
}