.m{
	margin: 10rpx;
}
.mx {
    margin-left : 10rpx;
    margin-right: 10rpx;
}

.my {
    margin-top   : 10rpx;
    margin-bottom: 10rpx;
}

.ml {
    margin-left: 10rpx;
}

.mr {
    margin-right: 10rpx;
}

.px {
    padding-left : 10rpx;
    padding-right: 10rpx;
}

.py {
    padding-bottom: 10rpx;
    padding-top   : 10rpx;
}

.pt {
    padding-top: 10rpx;
}

.pb {
    padding-bottom: 10rpx;
}
.al-c{
	text-align: center;
}
// 基本颜色
.primary{
	background-color: #00aaff;
}
// 基本背景颜色
.grey{
	color: #e3e3e3;
}
.white{
	color: white;
}

// flex 相关
.jc-c{
	justify-content: center;
}
.grow-2 {
	flex-grow: 2;
}