.m{
	margin: 10rpx;
}
.mx {
    margin-left : 10rpx;
    margin-right: 10rpx;
}

.my {
    margin-top   : 10rpx;
    margin-bottom: 10rpx;
}

.ml {
    margin-left: 10rpx;
}

.mr {
    margin-right: 10rpx;
}
.mt{
	margin-top: 10rpx;
}
.mb{
	margin-bottom: 10rpx;
}

.px {
    padding-left : 10rpx;
    padding-right: 10rpx;
}

.py {
    padding-bottom: 10rpx;
    padding-top   : 10rpx;
}

.pt {
    padding-top: 10rpx;
}

.pb {
    padding-bottom: 10rpx;
}
.al-c{
	text-align: center;
}
// 基本颜色
.primary{
	background-color: #00aaff;
}
.warn{
	background-color: #ffaa00;
}
// 基本背景颜色
.grey{
	color: #e3e3e3;
}
.white{
	color: white;
}
.bd{
	font-size: 1.2em;
	font-weight: 700;
}

// flex 相关
.jc-c{
	justify-content: center;
}
.jc-b{
	justify-content: space-between;
}
.jc-a{
	justify-content: space-around;
}
.grow-2 {
	flex-grow: 2;
}

.wrap{
	flex-wrap: wrap;
}

.hfull{
    height: calc(100vh - 44px);
}
.full-width{
	width: 100%;
}

.scroll-y{
	height: 100vh;
	background-color: #efeff4;
}